@model ComplaintPortalSystem.Models.Complaint

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background: rgba(0,0,0,0.6);
        }

        #bg {
            z-index: 1;
            background-color: white;
            padding: 35px;
            margin-bottom: 90px;
            width: 60%;
            border-radius: 5px;
            padding-top: 40px;
        }

            #bg:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-image: url(https://www.universitiesaustralia.edu.au/wp-content/uploads/2019/05/Murdoch1_web-1333x1000.jpg);
                background-size: 100% 98.9%;
                background-repeat: no-repeat;
                opacity: 0.15;
            }

        header h2 {
            color: white;
            font-family: Verdana;
            padding-top: 15px;
            padding-bottom: 20px;
        }

        .form-group {
            margin-bottom: 70px;
        }


        .btn-primary {
            background: #969292;
            color: #ffffff;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 7px;
            margin-top: 1vw;
            float: right;
            padding-bottom: 7px;
            border: none;
            width: 110px;
            border-radius: 3px;
        }

            .btn-primary:hover {
                background: #747373;
            }

        dl {
            margin-top: 10px;
            padding: 30px;
        }

        dl {
            border: 0.5px solid gray;
            border-radius: 5px;
            background-color: #f9f5f5;
        }

        .ie7 dl {
            overflow: hidden;
        }

        dt,
        dd {
            box-sizing: border-box;
            padding: 10px;
        }

            dd ~ dt,
            dd ~ dd {
                border-top: 0.5px solid #bdc8ca;
            }

        dt {
            float: left;
            width: 35%;
            padding-bottom: 0;
        }

        .ie7 dt {
            padding-bottom: 10px;
            clear: both;
        }

        dd {
            margin-left: 35%;
            border-left: 0.7px dotted #bdc8ca;
            background-color: #fff;
        }

        .ie7 dd {
            margin-left: 40%;
            overflow: hidden;
        }

        dd:after {
            content: "";
            display: block;
            clear: both;
        }

        @@media only screen and (max-width: 1000px) {
            #bg {
                
                width: 90%;
            }

            dd, dt {
                font-size: 10px;
            }
        }
    </style>
</head>


<body>

    <header>
        <h2>Complaint Details</h2>
    </header>
    <hr style="border: 0.6px solid #dbd9d9;" />

    <div id="bg">

        <div>
            <dl class="dl-horizontal">

                <dt>
                    Category
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category.CategoryDescription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Attachment)
                </dt>

                <dd>
                    @if (Model.Attachment == null)
                    {
                        <div>
                            N.A
                        </div>
                    }
                    else
                    {
                        <img src="~/Images/@Model.Attachment" height="350" width="450" />
                    }
                </dd>
                <dt>
                    Current Status
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateSubmitted)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateSubmitted)
                </dd>

                <dt>
                    Date Closed
                </dt>

                <dd>
                    @if (Model.DateClose.HasValue)
                    {
                        @Html.DisplayFor(model => model.DateClose)

                    }
                    else
                    {
                        <div>
                            N.A
                        </div>
                    }

                </dd>

                <dt>
                    Efficacy
                </dt>

                <dd>
                    @if (Model.RatingEfficacy == null)
                    {

                        <div>
                            N.A
                        </div>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.RatingEfficacy)
                    }

                </dd>

                <dt>
                    Speed
                </dt>

                <dd>

                    @if (Model.RatingSpeed == null)
                    {
                        <div>
                            N.A
                        </div>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.RatingSpeed)
                    }

                </dd>

                <dt>
                    Friendliness
                </dt>

                <dd>

                    @if (Model.RatingFriendliness == null)
                    {
                        <div>
                            N.A
                        </div>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.RatingFriendliness)
                    }

                </dd>


                <dt>
                    Feedback
                </dt>

                <dd>
                    @if (Model.RatingFeedback == null)
                    {
                        <div>
                            N.A
                        </div>
                    }
                    else
                    {
                        @Html.DisplayTextFor(model => model.RatingFeedback)
                    }

                </dd>

            </dl>

            <div class="form-group">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>

</body>
</html>